{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ........................................................banner........................................... -->
    <section>
            <div class="category-banner">
                <img src="{% static 'assets/images/pngtree-nordic-minimalist-furniture-banner-design-image_190039.jpeg'%}" alt="">
            </div>
        </section>

    <!-- .....................................Guarantee.......................................... -->
    <section class="guarantee-container" style="margin-top: 1rem">
        <div>
            <ul class="header_ul" id="header_ul">
                <li>
                    <a title="Əsas Səhifə" href="/">Əsas səhifə</a>
                </li>
                <li>
                    <a title="Ehome zəmanəti" href=""> &gt;Ehome zəmanəti</a>
                </li>
            </ul>
        </div>

        <div class="row guarantee-header mb-2"
            style="margin: 0;/*! display: block; */text-align: center;display: flex;">
            <div class="guarantee_output_title"
                style="text-align: center;align-items: center;display: flex;justify-content: center;justify-items: center;">
                Ehome zəmanəti</div>
        </div>

        {% for guaranti in guarantees %}
            
        

        <div class="all-guarantee-terms">
            <p class="terms">{{guaranti.content}}<br></p>
        </div>
        {% endfor %}



    </section>

{% endblock %}