{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/category.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/project-detail.css'%}">
{% endblock %}

{% block content %}

<section>
    <div class="category-banner">
        <img src="{% static 'assets/images/pngtree-nordic-minimalist-furniture-banner-design-image_190039.jpeg' %}" alt="">
    </div>
</section>

<!-- ........................................category name.................................. -->





<section class="not-found-item">
    <div class="row main_product_output mb-2 mt-2">
        <div class="main_product_products_output_title mb-5 mt-5">Axtardığınız məhsula uyğun nəticə tapılmadı</div>
    </div>
</section>


{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui-touch.js' %}"></script>
    <script src="{% static 'assets/js/wow_slider.js' %}"></script>
    <script src="{% static 'assets/js/wow_script.js' %}"></script>
    <script src="{% static 'assets/js/fancybox.js' %}"></script>
    <script src="{% static 'assets/js/category.js' %}"></script>
    <script src="{% static 'assets/js/device.js' %}"></script>
{% endblock %}