{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/category.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/device.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/fancybox.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/product-detail.css'%}">
{% endblock %}

{% block content %}

<section>
    <div class="category-banner">
        <img src="{% static 'assets/images/pngtree-nordic-minimalist-furniture-banner-design-image_190039.jpeg' %}" alt="">
    </div>
</section>

<!-- ........................................category name.................................. -->








<!-- ....................................items..................................... -->
<section class="mt-4">
    <div class="category-items">
        <div class="row m-0" style="border: 1px solid #7777772e;">
            <div class="row w-100 m-0 all-items-view-table">
                <div class="each-items col-lg-3 rt-item" product_slug="slug1">
                    <div class="items-height" style="padding: 25px 30px 0px 30px ">
                        <div style="padding-top: 100%" class="position-relative">
                            <a class="position-absolute h-100 w-100" style="top:0" href="product-detail.html">
                                <img class="all-images w-100 h-100 item-images" src="{% static 'assets/images/Untitled-1(5).jpeg' %}"
                                    alt="">
                            </a>
                            <div class="credit-duration">0₼ 0% 12 ay</div>
                            <div class="items-svg position-absolute">
                                <div title="Seçilmiş et" class="svg-filess">
                                    <i style="color: white" class="fa fa-heart" aria-hidden="true"></i>
                                </div>
                                <div title="Müqayisə et" class="svg-filess">
                                    <i style="color: white" class="fas fa-balance-scale-right" aria-hidden="true"></i>
                                </div>
                                <div data-toggle="modal" data-target="#oneClickModal" title="1 kliklə alma"
                                    class="svg-filess">
                                    <i style="color: white" class="fas fa-hand-point-up" aria-hidden="true"></i>
                                </div>
                                <div data-toggle="modal" data-target="#quickViewModal" title="Sürətli baxış"
                                    class="svg-files-quick svg-filess">
                                    <i style="color: white" class="fas fa-clock" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="rating">
                                <div class="votes_block nstar">
                                    <div class="ratings">
                                        <div class="inner_rating">
                                            <div class="item-rating" title="1">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="item-rating " title="2"><i class="fas fa-star"></i></div>
                                            <div class="item-rating " title="3"><i class="fas fa-star"></i></div>
                                            <div class="item-rating " title="4"><i class="fas fa-star"></i></div>
                                            <div class="item-rating" title="5"><i class="fas fa-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-title" style="height: 44px;">
                                <a href="product-detail.html"
                                    class="dark_link option-font-bold font_sm"><span>Kondisioner AUX ASW-H09A4/FFR1 9000
                                        BTU</span></a>
                            </div>
                            <div class="sa_block" data-fields="null" data-stores="[]" data-user-fields="null"
                                style="height: 44px;">
                                <!-- <div class="item-stock js-show-stores js-show-info-block" data-id="5235"><span
                                        class="icon stock"></span><span class="value font_sxs">Anbarda kifayət qədər
                                        var.</span></div> -->
                                <!-- <div class="article_block" data-name="Art." data-value="ASW-H09A4">
                                    <div class="muted font_sxs">Art.: ASW-H09A4</div>
                                </div> -->
                                <div class="cost prices clearfix" style="height: 167px;">
                                    <div class="icons-basket-wrapper offer_buy_block ce_cmp_hidden">
                                        <div class="button_block">
                                            <!--noindex-->
                                            <span title="Səbətə əlavə et" style="width: 38px;height:38px"
                                                class="insert-basket d-flex justify-content-center align-items-center btn-exlg to-cart btn btn-default transition_bg animate-load has-ripple">
                                                <i style="color: #999" class="fas fa-shopping-cart"
                                                    aria-hidden="true"></i></span>
                                            <!--/noindex-->
                                        </div>
                                    </div>
                                    <div class="price_matrix_wrapper ">
                                        <div class="d-flex for-credit">
                                            <div>Kreditle:</div>
                                            <div class="ml-1 credit-price align-items-center">2865 ₼</div>
                                        </div>
                                        <div class="d-flex cash-price align-items-center">
                                            <div>Nağd:</div>
                                            <div class="cash-price-percent">-40%</div>
                                            <div class="ml-1 cash-pricee">2115 ₼</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

            <div class="list-view-item-all">
                <div product_slug="slug1" class="listt-view rt-item">
                    <div class="list-view-item-left">
                        <div class="list-view-item-img">
                            <a href=""> <img class="w-100 h-100" src="{% static 'assets/images/Untitled-1(5).jpeg' %}" alt=""></a>
                            <div class="credit-duration">0₼ 0% 12 ay</div>
                        </div>
                        <div class="list-view-item-name-star">
                            <div class="list-view-item-name">
                                <a href="">Kondisioner AUX ASW-H09A4/FFR1 9000 BTU</a>
                            </div>
                            <div class="inner_rating">
                                <div class="item-rating" title="1">
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="item-rating " title="2"><i class="fas fa-star" aria-hidden="true"></i></div>
                                <div class="item-rating " title="3"><i class="fas fa-star" aria-hidden="true"></i></div>
                                <div class="item-rating " title="4"><i class="fas fa-star" aria-hidden="true"></i></div>
                                <div class="item-rating" title="5"><i class="fas fa-star" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="price_matrix_wrapper ">
                        <div class="d-flex for-credit">
                            <div>Kreditle:</div>
                            <div class="ml-1 credit-price align-items-center">2865 ₼</div>
                        </div>
                        <div class="d-flex cash-price align-items-center">
                            <div>Nağd:</div>
                            <div class="cash-price-percent">-40%</div>
                            <div class="ml-1 cash-pricee">2115 ₼</div>
                        </div>
                    </div>
                    <div class="list-view-item-selector">
                        <span title="Səbətə əlavə et" style="width: 38px;height:38px"
                            class="insert-basket d-flex justify-content-center align-items-center">
                            <i style="color: #999" class="fas fa-shopping-cart" aria-hidden="true"></i></span>
                        <span title="Seçilmişlərə əlavə et" style="width: 38px;height:38px"
                            class="d-flex justify-content-center align-items-center">
                            <i style="color: #999" class="fa fa-heart" aria-hidden="true"></i></span>
                        <span title="Müqayisə et" style="width: 38px;height:38px"
                            class="d-flex justify-content-center align-items-center">
                            <i style="color: #999" class="fas fa-balance-scale-right" aria-hidden="true"></i></span>
                        <span data-toggle="modal" data-target="#oneClickModal" title="1 kliklə alma"
                            style="width: 38px;height:38px" class="d-flex justify-content-center align-items-center">
                            <i style="color: #999" class="fas fa-hand-point-up" aria-hidden="true"></i></span>
                        <span data-toggle="modal" data-target="#quickViewModal" title="Sürətli baxış"
                            style="width: 38px;height:38px"
                            class="quick-viewww d-flex justify-content-center align-items-center">
                            <i style="color: #999" class="fas fa-clock" aria-hidden="true"></i></span>
                    </div>
                </div>

            </div>

        </div>
</section>


<!-- ..................................quick view modal....................................... -->
<div class=" modal fade" id="quickViewModal" tabindex="-1" role="dialog" aria-labelledby="qucikViewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog quick-view-modal-dialog modal-view" role="document">
        <div class="modal-content">
            <div class="row align-items-center text-center flex-column">

                <div class="modal-body w-100">
                    <div id="owl-carousel-quick-view" class="owl-carousel-all owl-quick-view owl-carousel owl-theme">
                        <div class="item">
                            <div class="position-relative">
                                <div class="row main_product_output mb-2">
                                    <div class="main_product_products_output_title">YATAQ OTAĞI</div>
                                </div>
                                <div class="d-flex"
                                    style="border-bottom:1px solid #7777772e;padding-left:15px;padding-bottom:15px;">
                                    <div class="d-flex align-items-center d-inline-block modal-item-icon">
                                        <i style="color: #71767b;font-size: 16px;margin-right: 8px;" class="fa fa-heart"
                                            aria-hidden="true"></i>
                                        <span>Seçilmiş et</span>
                                    </div>
                                    <div class="ml-2 d-flex align-items-center d-inline-block modal-item-icon">
                                        <i style="color: #71767b;font-size: 16px;margin-right: 8px;"
                                            class="fas fa-balance-scale-right" aria-hidden="true"></i>
                                        <span>Müqayisə et</span>
                                    </div>
                                    <div class="inner_rating modal-inner-rating">
                                        <div class="item-rating" title="1">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-rating " title="2"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating " title="3"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating " title="4"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating" title="5"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="row m-0" style="padding:15px">
                                    <div class="col-6" style="border-right:1px solid #7777772e;">
                                        <div class="modal-item-img">
                                            <div class="position-relative">
                                                <img class="w-100 h-100" src="{% static 'assets/images/Untitled-1(3).jpeg' %}" alt="">
                                                <div class="credit-duration" style="left:0;">0₼ 0% 12 ay</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="modal-quick-view-price">
                                            <div class="d-flex col-6 p-0 for-credit">
                                                <div>Kreditle:</div>
                                                <div class="ml-1 credit-price align-items-center">2865 ₼</div>
                                            </div>
                                            <div class="d-flex col-6 p-0 cash-price align-items-center">
                                                <div>Nağd:</div>
                                                <div class="cash-price-percent">-40%</div>
                                                <div class="ml-1 cash-pricee">2115 ₼</div>
                                            </div>
                                        </div>
                                        <div class="d-flex" style="margin-bottom: 5px;">
                                            <div class="modal-quick-view-item-stock">
                                                <span class="value-quick-view">Anbarda kifayət qədər var.</span>
                                            </div>
                                            <div class="modal-quick-view-article_block">
                                                <div class="muted-quick-view">Art.: ASW-H09A4</div>
                                            </div>
                                        </div>
                                        <div data-toggle="modal" data-target="#oneClickModal"
                                            class="buy-one-click-quick-view">
                                            <a href="javascript:void(0)">1 kliklə al</a>
                                        </div>
                                        <div class="add-basket-product-quick-view">
                                            <span href="">Səbətə at</span>
                                        </div>
                                        <div class="product-features-quick-view">
                                            <ul class="ul-product-features-quick-view">
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"
                                                            style="transform: rotate(90deg); transition: transform 0.5s ease 0s;"></i>Məhsulun
                                                        xüsusiyyətləri </div>
                                                    <p class="product-features-answers-quick-view" style="">Lorem ipsum,
                                                        dolor sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"
                                                            style="transform: rotate(90deg); transition: transform 0.5s ease 0s;"></i>
                                                        Çatdırılma
                                                        və quraşdırılma</div>
                                                    <p class="product-features-answers-quick-view" style="">Lorem ipsum,
                                                        dolor sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"></i>
                                                        Ödəniş</div>
                                                    <p class="product-features-answers-quick-view">Lorem ipsum, dolor
                                                        sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"></i>
                                                        Kredit
                                                        şərtləri</div>
                                                    <p class="product-features-answers-quick-view">Lorem ipsum, dolor
                                                        sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-relative">
                                <div class="row main_product_output mb-2">
                                    <div class="main_product_products_output_title">YATAQ OTAĞI</div>
                                </div>
                                <div class="d-flex"
                                    style="border-bottom:1px solid #7777772e;padding-left:15px;padding-bottom:15px;">
                                    <div class="d-flex align-items-center d-inline-block modal-item-icon">
                                        <i style="color: #71767b;font-size: 16px;margin-right: 8px;" class="fa fa-heart"
                                            aria-hidden="true"></i>
                                        <span>Seçilmiş et</span>
                                    </div>
                                    <div class="ml-2 d-flex align-items-center d-inline-block modal-item-icon">
                                        <i style="color: #71767b;font-size: 16px;margin-right: 8px;"
                                            class="fas fa-balance-scale-right" aria-hidden="true"></i>
                                        <span>Müqayisə et</span>
                                    </div>
                                    <div class="inner_rating modal-inner-rating">
                                        <div class="item-rating" title="1">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-rating " title="2"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating " title="3"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating " title="4"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating" title="5"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="row m-0" style="padding:15px">
                                    <div class="col-6" style="border-right:1px solid #7777772e;">
                                        <div class="modal-item-img">
                                            <div class="position-relative">
                                                <img class="w-100 h-100" src="{% static 'assets/images/Untitled-1(3).jpeg' %}" alt="">
                                                <div class="credit-duration" style="left:0;">0₼ 0% 12 ay</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="modal-quick-view-price">
                                            <div class="d-flex col-6 p-0 for-credit">
                                                <div>Kreditle:</div>
                                                <div class="ml-1 credit-price align-items-center">2865 ₼</div>
                                            </div>
                                            <div class="d-flex col-6 p-0 cash-price align-items-center">
                                                <div>Nağd:</div>
                                                <div class="cash-price-percent">-40%</div>
                                                <div class="ml-1 cash-pricee">2115 ₼</div>
                                            </div>
                                        </div>
                                        <div class="d-flex" style="margin-bottom: 5px;">
                                            <div class="modal-quick-view-item-stock">
                                                <span class="value-quick-view">Anbarda kifayət qədər var.</span>
                                            </div>
                                            <div class="modal-quick-view-article_block">
                                                <div class="muted-quick-view">Art.: ASW-H09A4</div>
                                            </div>
                                        </div>
                                        <div data-toggle="modal" data-target="#oneClickModal"
                                            class="buy-one-click-quick-view">
                                            <a href="javascript:void(0)">1 kliklə al</a>
                                        </div>
                                        <div class="add-basket-product-quick-view">
                                            <span href="">Səbətə at</span>
                                        </div>
                                        <div class="product-features-quick-view">
                                            <ul class="ul-product-features-quick-view">
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"
                                                            style="transform: rotate(90deg); transition: transform 0.5s ease 0s;"></i>Məhsulun
                                                        xüsusiyyətləri </div>
                                                    <p class="product-features-answers-quick-view" style="">Lorem ipsum,
                                                        dolor sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"
                                                            style="transform: rotate(90deg); transition: transform 0.5s ease 0s;"></i>
                                                        Çatdırılma
                                                        və quraşdırılma</div>
                                                    <p class="product-features-answers-quick-view" style="">Lorem ipsum,
                                                        dolor sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"></i>
                                                        Ödəniş</div>
                                                    <p class="product-features-answers-quick-view">Lorem ipsum, dolor
                                                        sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"></i>
                                                        Kredit
                                                        şərtləri</div>
                                                    <p class="product-features-answers-quick-view">Lorem ipsum, dolor
                                                        sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="position-relative">
                                <div class="row main_product_output mb-2">
                                    <div class="main_product_products_output_title">YATAQ OTAĞI</div>
                                </div>
                                <div class="d-flex"
                                    style="border-bottom:1px solid #7777772e;padding-left:15px;padding-bottom:15px;">
                                    <div class="d-flex align-items-center d-inline-block modal-item-icon">
                                        <i style="color: #71767b;font-size: 16px;margin-right: 8px;" class="fa fa-heart"
                                            aria-hidden="true"></i>
                                        <span>Seçilmiş et</span>
                                    </div>
                                    <div class="ml-2 d-flex align-items-center d-inline-block modal-item-icon">
                                        <i style="color: #71767b;font-size: 16px;margin-right: 8px;"
                                            class="fas fa-balance-scale-right" aria-hidden="true"></i>
                                        <span>Müqayisə et</span>
                                    </div>
                                    <div class="inner_rating modal-inner-rating">
                                        <div class="item-rating" title="1">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-rating " title="2"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating " title="3"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating " title="4"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                        <div class="item-rating" title="5"><i class="fas fa-star"
                                                aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="row m-0" style="padding:15px">
                                    <div class="col-6" style="border-right:1px solid #7777772e;">
                                        <div class="modal-item-img">
                                            <div class="position-relative">
                                                <img class="w-100 h-100" src="{% static 'assets/images/Untitled-1(3).jpeg' %}" alt="">
                                                <div class="credit-duration" style="left:0;">0₼ 0% 12 ay</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="modal-quick-view-price">
                                            <div class="d-flex col-6 p-0 for-credit">
                                                <div>Kreditle:</div>
                                                <div class="ml-1 credit-price align-items-center">2865 ₼</div>
                                            </div>
                                            <div class="d-flex col-6 p-0 cash-price align-items-center">
                                                <div>Nağd:</div>
                                                <div class="cash-price-percent">-40%</div>
                                                <div class="ml-1 cash-pricee">2115 ₼</div>
                                            </div>
                                        </div>
                                        <div class="d-flex" style="margin-bottom: 5px;">
                                            <div class="modal-quick-view-item-stock">
                                                <span class="value-quick-view">Anbarda kifayət qədər var.</span>
                                            </div>
                                            <div class="modal-quick-view-article_block">
                                                <div class="muted-quick-view">Art.: ASW-H09A4</div>
                                            </div>
                                        </div>
                                        <div data-toggle="modal" data-target="#oneClickModal"
                                            class="buy-one-click-quick-view">
                                            <a href="javascript:void(0)">1 kliklə al</a>
                                        </div>
                                        <div class="add-basket-product-quick-view">
                                            <span href="">Səbətə at</span>
                                        </div>
                                        <div class="product-features-quick-view">
                                            <ul class="ul-product-features-quick-view">
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"
                                                            style="transform: rotate(90deg); transition: transform 0.5s ease 0s;"></i>Məhsulun
                                                        xüsusiyyətləri </div>
                                                    <p class="product-features-answers-quick-view" style="">Lorem ipsum,
                                                        dolor sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"
                                                            style="transform: rotate(90deg); transition: transform 0.5s ease 0s;"></i>
                                                        Çatdırılma
                                                        və quraşdırılma</div>
                                                    <p class="product-features-answers-quick-view" style="">Lorem ipsum,
                                                        dolor sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"></i>
                                                        Ödəniş</div>
                                                    <p class="product-features-answers-quick-view">Lorem ipsum, dolor
                                                        sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                                <li class="product-features-question-answer-quick-view">
                                                    <div class="product-features-questions-quick-view"> <i
                                                            class="fa fa-caret-right mr-2" aria-hidden="true"></i>
                                                        Kredit
                                                        şərtləri</div>
                                                    <p class="product-features-answers-quick-view">Lorem ipsum, dolor
                                                        sit amet consectetur adipisicing
                                                        elit. Harum laboriosam ipsam quibusdam animi quidem cum in
                                                        necessitatibus asperiores
                                                        fugiat exercitationem, esse illo recusandae reiciendis sunt
                                                        excepturi voluptatem earum
                                                        beatae quis!</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- .................................modal one click buy........................................... -->
<div class=" modal fade" id="oneClickModal" tabindex="-1" role="dialog" aria-labelledby="oneClickLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-view" role="document">
        <div class="modal-content">
            <div class="row align-items-center text-center flex-column">

                <div class="modal-body">
                    <h3 class="one-click-header  text-center SignInOutFormstyle__Heading-w9z0ip-4 dUkJlM">
                        1 kliklə al
                    </h3>
                </div>
                <form id="form-join">
                    <div class="form-data"
                        style="display: flex;flex-direction: column;justify-content: center;text-align: left;">
                        <input class="mb-2 joinj form-control" name="username" type="text" placeholder="Ad">
                    </div>

                    <div class="form-data"
                        style="display: flex;flex-direction: column;justify-content: center;text-align: left;">
                        <input class="mb-2 joinj form-control" name="nömrə" type="Tel" id="" placeholder="Nömrə">
                    </div>



                    <input type="submit" class="jbutton" value="Göndər">
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- .............................................pagination........................................... -->
<div class="mb-2 pagination_wrapper">
    <ul class="pagination_ul">

        <li class="active_page">
            <a href="javascript:void(0);">
                1
            </a>
        </li>
        <li class="">
            <a href="">
                2
            </a>
        </li>
        <li class="">
            <a href="">
                3
            </a>
        </li>
        <li class="">
            <a href="">
                4
            </a>
        </li>
        <li class="">
            <a href="">
                5
            </a>
        </li>

    </ul>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui-touch.js' %}"></script>
    <script src="{% static 'assets/js/wow_slider.js' %}"></script>
    <script src="{% static 'assets/js/wow_script.js' %}"></script>
    <script src="{% static 'assets/js/fancybox.js' %}"></script>
    <script src="{% static 'assets/js/category.js' %}"></script>
    <script src="{% static 'assets/js/device.js' %}"></script>
{% endblock %}