{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="category-banner">
        <img src="{% static 'assets/images/pngtree-nordic-minimalist-furniture-banner-design-image_190039.jpeg' %}" alt="">
    </div>
</section>

<!-- ........................................category name.................................. -->





<section class="not-found-item">
    <div class="row main_product_output mb-2 mt-2">
        <div class="main_product_products_output_title mb-5 mt-5">Axtardığınız məhsula uyğun nəticə tapılmadı</div>
    </div>
</section>


{% endblock %}