.line-side{
    position: fixed;
    right: -767px;
    top: 0;
    width: 767px;
    height: 100%;
    background: white;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    transition: 1s all;
}

.line-side-closee{
    right: -767px;
    width: 767px;
}
.line-side-openn{
    right: 0px;
    width: 767px;
}

.icon-items {
    background: #49bd68;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    left: -53px;
    z-index: 100;
    margin-top: -102px;
    top: 50%;
}

.icon-items a{
    background: none !important;
    margin: 0;
    padding: 15px;
    display: inline-table;
    border-bottom:1px solid #7777772e;
    position: relative;
    transition: 0.3s all;
}

.icon-items a:hover{
    opacity: 0.5;
}

.parent-count-item{
    position: absolute;
    background: white;
    width: 18px;
    height: 17px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
}

.count-itemm{
    color: black;
}

.icon-items a:last-of-type{
    border: none;
}

.icon-items a i{
    font-size: 18px;
}

.rigth-side-item-name{
    font-family: MavenPro-SemiBold;
    font-size: 18px;
    padding:20px 30px;
    border-bottom:1px solid #7777772e;
}

.exit-svg-right-side{
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
}

.call-me{
    color: #49bd68;
    font-family: MavenPro-Bold;
}

.join-call{
    width: 300px;
    height: 50px;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 6px;
    background: rgb(247, 247, 247);
}

.call-button{
    padding: 6px 70px 6px 70px;
    width: 300px;
    height: 50px;
    font-family: MavenPro-SemiBold;
    border-radius: 6px;
    background-color: #49bd68;
    color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border: none;
}

.when-empty{
    font-family: MavenPro-Regular;
    font-size: 18px;
}

.inside-right-side-item-when-empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-item-img{
    width: 150px;
}

.inside-right-side-item{
    font-family: MavenPro-Regular;
    font-size: 14px;
}

.price-right-side-item{
    font-family: MavenPro-SemiBold;
    margin-bottom: 10px;
}

.price-right-side-item-sale{
    font-family: MavenPro-SemiBold;
    border: 1px solid #7777772e;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    padding: 2px 5px;
}

.item-name-right-side-item a{
    color: #49bd68;
}

.right-side-item-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #7777772e;
}

.item-name-right-side-item{
    margin-bottom: 10px;
}

.item-minus-plus{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #40484e;
    font-family: MavenPro-SemiBold;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.28px;
    text-align: center;
    color: #40484e;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.item-minus-plus i{
    cursor: pointer;
}

.exit-svg-right-side-item {
    position: absolute;
    right: 21px;
    top: 5px;
    cursor: pointer;
}

.inside-right-side-item-all{
    height: calc(100% - 180px);
    overflow: scroll;
}

.summary-price{
    font-size: 14px;
    font-family: MavenPro-SemiBold;
}

.book-items a{
    width: 161px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #40484e;
    display: inline-block;
    font-family: MavenPro-SemiBold;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.28px;
    text-align: center;
    color: #40484e;
    line-height: 45px;
    text-decoration: none;
}

.bottom-right-side-item{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.div-shopping-card{
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7777772e;
    transition: 0.3s all;
    cursor: pointer;
    border-radius: 5px;
}

.div-shopping-card i{
    font-size: 18px;
    transition: 0.3s all;
}

.div-shopping-card:hover{
    border-color: #49bd68;
}

.div-shopping-card:hover i{
    color: #49bd68 !important;
}


@media screen and (max-width: 820px) {
    .line-side-closee{
        width: 600px;
        right: -600px;
    }
    .line-side-openn{
        right: 0px;
        width: 600px;
    }
}

@media screen and (max-width: 720px) {
    .line-side-closee{
        width: 500px;
        right: -500px;
    }
    .line-side-openn{
        right: 0px;
        width: 500px;
    }
}

@media screen and (max-width: 555px) {
    .icon-items {
        background: #49bd68;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        position: fixed;
        left: 0;
        bottom: 0 !important;
        flex-direction: row !important;
        width: 100%;
        top: auto !important;
    }
    .icon-items a{
        width: calc(100% / 4);
        border-right: 1px solid #7777772e;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-items a:last-of-type{
        border-right: none;
    }
    .parent-count-item{
        right: 45px !important;
    }
    .line-side-closee{
        width: 100%;
        right: -100%;
    }
    .line-side-openn{
        right: 0%;
        width: 100%;
    }
    .bottom-right-side-item{
        position: relative;
        bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .parent-count-item{
        right: 35px !important;
    }
}

@media screen and (max-width: 420px) {
    .parent-count-item{
        right: 30px !important;
    }
}

@media screen and (max-width: 390px) {
    .parent-count-item{
        right: 27px !important;
    }
}